.content-card {
  width: 600px;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-card {
  padding: 10px;
}

.login-card {
  margin-top: 100px;
  margin-bottom: 100px;
}

.register-card {
  margin-top: 100px;
  margin-bottom: 100px;
}

.profile-card {
  width: 70%;
  height: fit-content;
  margin: 50px;
  padding: 10px;
}

.profile-image {
  width: 150px;
}

.chat {
  margin: 10px;
  width: 600px;
  height: 650px;
}

.message-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  min-height: 590px;
}
.text-card {
  margin: 10px;
}

.left-info {
  margin-right: 300px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.left-card {
  margin-right: 300px;
  padding: 5px;
  margin-left: 0px;
  background-color: #d3d3d3;
  border-radius: 15px;
  border-color: #d3d3d3;
  height: fit-content;
  padding: 10px;
}

.right-info {
  margin-left: 305px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.right-card {
  margin-left: 300px;
  padding: 5px;
  background-color: #4169e1;
  border-radius: 15px;
  border-color: #4169e1;
  height: fit-content;
  padding: 10px;
}

.background-image {
  background-image: url(static_resources/a-peaceful-lake-surrrounded-by-tall-trees-in-a-foggy-day_out.jpeg);
  height: max-content;
}

.post-image {
  max-width: 600px;
}

.message-text {
  font-size: small;
}

.right-text {
  color: white;
}

html,
body {
  margin: 0px;
  height: 100%;
}
.max-height {
  height: 100%;
}

.date-text {
  font-size: xx-small;
}

.friend-list-card {
  width: fit-content;
  min-width: 300px;
  height: 650px;
  margin: 10px;
}

.friend-header {
  text-align: center;
}
